<!--==========================
Header Section
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="/"><img src="img/logo.png" alt="jammin logo" title="Jammin on the James" /></img></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">

<!-- BEGINNING OF LISTS -->
      <ul class="nav-menu">

    <!--=====
      Details
      =====-->
        <li class="menu-has-children"><a href="/#details">Details</a>
          <ul>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/venues">Venues</a></li>
            <li><a href="/#comp">Competitions</a></li>
            <li><a href="/#travel">Visit Richmond</a></li>
            <!--<li class="menu-has-children"><a href="/#travel">Visit Richmond</a>
                  <ul>
                    <li><a href="/travel">Travel</a></li>
                    <li><a href="/richmondfun">Things To Do</a></li>
                  </ul>
            </li> -->
            <!-- <li><a href="/team">Our Team</a></li> -->
          </ul>
        </li>
    <!--=====
      Music
      =====-->
        <!--<li class="menu-has-children"><a href="/#music">Music</a>
          <ul>
            <li><a href="/music">Bands</a></li>
            <li><a href="/music#dj">DJs</a></li>
          </ul>
        </li> -->
        <li><a href="/#music">Music</a></li>
    <!--=====
      Workshops
      =====-->
        <!--<li class="menu-has-children"><a href="/#workshop">Workshops</a>
          <ul>
            <li><a href="/instructors">Instructors</a></li>
            <li><a href="/workshops">Levels</a></li>
          </ul>
        </li> -->
        <li class="menu-has-children"><a href="/#workshop">Workshops</a>
          <ul>
            <li><a href="/instructors">Instructors</a></li>
            <li><a href="/workshops">Workshops</a></li>
            <li><a href="/workshops#add-ons">Add-Ons</a></li>
          </ul>
        </li>
    <!--=====
      Registration
      =====-->
        <li class="menu-has-children"><a href="/registration">Registration</a>
          <ul>
            <li><a href="https://jamminonthejames.ticketspice.com/jammin-on-the-james-standard-registration"  target="_blank">Register!</a></li>
            <li><a href="/housing">Housing</a></li>
          </ul>
        </li>

<!-- END OF LISTS -->
      </ul>
    </nav>
<!-- #nav-menu-container -->
</div>
</header>
  <!-- #header-->