<%= erb :_navbar %>
<div style="height: 100vh; background-size: 100%; background-position: fixed;" class="grey-background">
  <section id="code-of-conduct">
    <div class="container wow fadeInUp">
      <div style="margin-top: 8%;" class="row">
        <div class="col-md-12">
        <h3 class="section-title">Code of Conduct</h3>
          <div class="section-title-divider"></div>
          <p style="text-align: left;" class="section-description">Here at Jammin' on the James we aim to provide a safe and diverse social environment, whether in the classroom or on the dance floor. We strive to ensure that all of our attendees feel comfortable regardless of race, gender, gender identity, sexual orientation, disability, religion, physical appearance, age, dance role, or skill level.<br><br>
          In keeping with that goal, please note that discrimination or harassment of any kind will not be tolerated. This may include offensive or derogatory comments, deliberate intimidation, stalking, unpermitted photography or recording, or unwelcome sexual attention. If a violation occurs, Jammin' staff may issue a verbal warning, remove the individual from the venue, ban the individual from future events, or contact law enforcement.<br><br>
          If you are being harassed, witness another person being harassed, or have any other concern please contact a member of the Jammin' staff or any event volunteer. Our staff is happy to help handle the situation, provide escorts to a vehicle, contact law enforcement, or otherwise assist those experiencing harassment to feel safe for the duration of the event. Your concern will be kept completely confidential.<br><br>
          In addition to onsite help from Jammin' staff, Richmond has its own committee to handle any issues you have that you may not wish to address in person or even completely anonymously. You can find out more about the Richmond Safe Spaces Comittee and contact them at <a href="https://richmondsafespaces.weebly.com/">https://richmondsafespaces.weebly.com/</a></p>
        </div>
      </div>
    </div>
  </section>
</div>