<%= erb :_navbar %>
<section id="housing-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Housing</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Jammin' is getting closer, and it's time to work out some housing logistics!<br><br>Choose one of the options below:</p>
      </div>
    </div>
    <div class="housing-container">
      <a href="#need-housing">
        <div class="housing-option">
          <h3 class="option-title">I Need Housing</h3>
        </div>
      </a>
      <a href="#can-host">
        <div class="housing-option">
          <h3 class="option-title">I Can Host</h3>
        </div>
      </a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="section-description">If you have any additional questions about housing or hosting, please reach out to Becky&nbsp;McMorrow, our housing&nbsp;coordinator, at <a href="mailto:housing@jamminonthejames.com">housing@jamminonthejames.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-title-divider"></div>
      </div>
    </div>
    <div class="row form-row" id="need-housing">
      <div class="col-md-10 col-md-push-1">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfJBHPanXnIaVT6YUxgYwUzWjXS9ohJq-TwixpyW6tj2BEeYw/viewform?embedded=true" style="width: 100%; min-height: 77vh;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <p class="section-description"><a href="#housing-page">Back to the Top</a></p>
      </div>
    </div>
    <div class="row form-row" id="can-host">
      <div class="col-md-12 center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdPd4qIt8wuN4QBzKPQV_zXtkM3lo81ZMrORbc7QJkJODoJiA/viewform?embedded=true" style="width: 100%; min-height: 77vh;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="section-description"><a href="#housing-page">Back to the Top</a></p>
      </div>
    </div>
  </div>
</section>
