<%= erb :_navbar %>
<section id="housing-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Housing</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"> <br>If you need housing for this event, please be sure to <strong>check the appropriate box when you register</strong>. <br><br>Housing surveys and emails will be sent closer to the event!</p>
      </div>
    </div>
        <div class="housing-pic">
        <img src="img/andy.jpg">
        </div>

  </div>
</section>