<div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero" style="position: relative;">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="img/jotjlogo.png" alt="Jammin' on the James">
        </div>
        <div class="hero-info">
          <!-- <h1>Jammin on the James</h1> -->
          <h2><span class="rotating">October 19th-21st 2018!, 2 Days of Workshops!, October 19th-21st 2018!, 2 Nights of Live Music!, October 19th-21st 2018!, A Full Weekend of Dancing!</span></h2>
          <div class="actions">
            <a href="#details" class="btn-get-started">Details</a>
            <a href="/registration" class="btn-services">Register!</a>
          </div>
        </div>
      </div>
      <!-- Scroll Down Icon -->
      <a href="#details" style="position: absolute; bottom: 10px; font-size: 30px; color: #990000;"><i class="fa fa-angle-double-down"></i></a>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->

  <%= erb :_navbar %>

  <!--==========================
  Details Section
  ============================-->
  <section id="details">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Jammin' on the James, 2018!</h3>
          <!-- <div class="section-title-divider"></div> -->
          <p class="section-description"><strong>Jammin' on the James</strong> is a lindy hop workshop weekend in <strong>Richmond, VA</strong>, known for big ideas and a small-town, intimate vibe. <br> This October, we're back for our <strong>16th year</strong> with <strong>new surprises</strong> along with the <strong>high quality instruction, music, and dancing</strong> you've come to expect.</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title">Details</h2>
          <p class="about-text">
            Mark your calendars for <strong>October 19th-21st, 2018</strong> and join us in RVA for this river city's longest running dance weekend!
          </p>
          <p class="about-text">
            With <a href="/workshops">3 levels</a> of lindy hop workshops from top of the line <a href="#workshop">instructors</a>, Jammin' on the James has something to offer everyone, from complete beginners to the more advanced. In addition to the workshops, we'll be offering <a href="#workshop">add-ons</a> so dancers can tailor the event to their interests.
          </p>
          <p class="about-text">
            It's called Jammin' on the James for a reason! We'll be blowing your face off with 2 nights of some of <a href="#music">the best live music</a> the swing scene has to offer. Band and DJs are booked, and we think you'll be as excited as we are!
          </p>
          <p class="about-text">
            Jammin' on the James 2018 will also feature <a href="#comps">new comps</a>, food truck fun, Mystery Box <a href="#register">registration deals</a>, and more, so check back here and follow us on Facebook to stay tuned! We'll see you in October!
          </p>
          <h2 class="about-title about-text">Follow Us For Updates:</h2>
          <div class="col-md-1"></div>
          <div class="col-md-5 social-btn-container">
            <a class="social-btn" href="https://www.facebook.com/events/114151972731940/">Facebook Event</a>
          </div>
          <div class="col-md-5 social-btn-container">
            <a class="social-btn" href="https://www.facebook.com/JamminOnTheJamesRVA/">Facebook Page</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--==========================
  Music Section
  ============================-->

  <section id="music">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Music</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">We have <strong>Jonathan Stout and his Campus Five featuring Hilary Alexander</strong> playing <strong>TWO NIGHTS</strong> of music! You won't want to miss this!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a class="music-item music-headliner" style="background-image: url(img/js-band-color.jpg);" href="">
            <div class="details details-headliner">
              <img src="img/js-pennant.png">
              <!-- <h4>Jonathan Stout !</h4>
              <span>Find out who's coming to town after the Mystery Box sale ends at 6pm, April 24th! Click to find out more!</span> -->
            </div>
          </a>
        </div>

<!--         <div class="col-md-10 col-md-push-1">
          <p class="section-description">Jammin has always brought excellent live music to keep you dancing all night long. We are VERY excited about this year's offering. Stay tuned to find out who's coming to town!</p>
        </div> -->
      </div>

      <!-- DJ Section -->
<!--       <div class="row">

        <div class="col-md-4">
          <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 1</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 2</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 3</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

      </div> -->
      <!-- End of DJ Section -->
    </div>
  </section>


  <!--==========================
  Workshop Section
  ============================-->

  <section id="workshop">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Workshops</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"><strong>Jammin' on the James</strong> is bringing <strong>Ann Mony</strong>, <strong>Ryan Calloway</strong>, <strong>Jenny Shirar</strong> and <strong>Christian Frommelt</strong> to town! <br>They'll be teaching our Track A & B Workshops as well as some special Add-Ons! <br>Checkout the <a href="/workshops">different levels</a> and choose the right one for you!</p>
        </div>
      </div>

      <!-- PLACEHOLDER -->
<!--       <div class="row">
        <div class="col-md-12">
          <a class="workshop-item workshop-main" style="background-image: url(img/mystery-instructor.png);" href="#register">
            <div class="details">
              <h4>Guess Who's Coming to Town!</h4>
              <span>Find out after the Mystery Box sale ends at 6pm, April 24th! Click to find out more!</span>
            </div>
          </a>
        </div>
      </div> -->


      <!-- INSTRUCTORS -->
      <div class="row">
        <div class="col-md-6">
          <a class="workshop-item workshop-main" style="background-image: url(img/ryanannkick.jpg);" href="#workshop">
            <div class="details">
              <h4>Ryan and Ann!</h4>
              <span>Tracks A & B and Add-Ons</span>
            </div>
          </a>
        </div>

        <div class="col-md-6">
          <a class="workshop-item workshop-main" style="background-image: url(img/jennchristiansitstand.jpg);" href="#workshop">
            <div class="details">
              <h4>Jenny and Christian!</h4>
              <span>Tracks A & B and Add-Ons</span>
            </div>
          </a>
        </div>

        <!-- END INSTRUCTORS -->
      </div>
      <div class="section-title-divider"></div>
      <div class="row">
        <div class="col-md-7">
          <h3 class="beginner-title">Beginner Track</h3>
          <p class="section-description">New to dancing and want to jump-start your Lindy Hop journey? <br>We have local heros <strong>Erica Vess</strong> and <strong>Ryan Lemar</strong> ready to get you up to speed in our <a href="/workshops">Beginner Track</a>.</p>
        </div>
        <div class="col-md-5">
          <a class="workshop-item workshop-beginner" style="background-image: url(img/ericaryan.jpg);" href="">
            <div class="details">
              <h4>Erica and Ryan!</h4>
              <span>Beginner Track</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

<!--==========================
  Competitions Section
  ============================-->
  <section id="comp">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Competitions</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"><strong>Jammin' on the James</strong> likes to keep the comps <strong>fun, free,</strong> and <strong>fabulous!</strong></p>
        </div>
      </div>

      <div class="row comp-center">
        <div class="col-md-12  comp-item">
          <div class="comp-icon"><i class="fa fa-trophy"></i></div>
          <h4 class="comp-title"><a href="">The Jick and Jall</a></h4>
          <p class="comp-description">This one is a Jammin' on the James classic and fan favorite! It's a mix & match style competition with a twist: participants dance both the lead and follow parts. It's <strong>free to enter</strong> and always a ton of fun!</p>
          <p class="comp-description">Sponsored by: Midwest Lindy Fest, Swing Into Spring, and more!</p>
          <!-- <p class="comp-description centered">Find out more about <a href="">The Jick and Jall Competition</a></p> -->
        </div>
      </div>
      <div class="row comp-center">
        <div class="col-md-12 comp-item">
          <div class="comp-icon"><i class="fa fa-trophy"></i></div>
          <h4 class="comp-title"><a href="">The Short Showcase</a></h4>
          <p class="comp-description">New to Jammin' in 2018, this comp is an opportunity to display your choreography skills! Routines may include 1-3 people and must be between 30-60 seconds long. Entry is free, but <strong>only 8 routines</strong> will get to compete in this Late Night comp! Email us at <strong>thejazzden@gmail.com</strong> to reserve your spot!</p>
          <p class="comp-description">Sponsored by: Jammin' on the James 2019</p>
          <!-- <p class="comp-description centered">Find out more about <a href="">The Short Showcase Competition</a></p> -->
        </div>
      </div>
    </div>
  </div>
</section>


  <!--==========================
  Registration Section
  ============================-->
  <section id="register">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <div class="register-container">
          <p class="register-title">Register for<br><span class="red-text jammin-text">Jammin'<span class="smaller"> on the </span>James!</span></p>
          <a href="/registration"><p class="register-text">
            Mark your calendar for <strong>April 30th</strong> at <strong>6pm</strong> when Normal Registration Opens!</p></a>
          <p class="register-text">
            Be sure to <a href="https://www.facebook.com/events/114151972731940/">follow us</a> on <a href="https://www.facebook.com/events/114151972731940/">Facebook</a> for news and updates!</p>
        </div>
        </div>
        <div class="col-md-12 register-btn-container">
          <a class="register-btn" href="https://jamminonthejames.ticketspice.com/jamminonthejames2018mysterybox"  target="_blank">Register!</a>
        </div>
<!--         <div class="col-md-3">
          <a href="/registration"><img class="mystery-box" src="img/mystery-box.png"></a>
        </div> -->
      </div>
    </div>
  </section>


  <!--==========================
  Travel Section
  ============================-->

  <section id="travel">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Visit Richmond!</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">We love our River City and we think you will too. Stay tuned for more info on getting to and staying in Richmond, as well as some extra special fun. In the meantime, follow these links to general RVA awesomeness.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 travel-item">
          <div class="travel-icon"><i class="fa fa-map-signs"></i></div>
          <h4 class="travel-title"><a href="https://www.tripadvisor.com/Attractions-g60893-Activities-Richmond_Virginia.html" target="_blank">Travel Ideas</a></h4>
          <p class="travel-description">Take a stroll around RVA's cute and popular <a href="https://goo.gl/maps/11N3FKTCWMx" target="_blank">Carytown</a>. Go for a nature walk on <a href="https://goo.gl/maps/nzdRVCemhD22" target="_blank">Belle Isle</a> and see the James River up close. See the impressive collection at the beautiful and free <a href="https://www.vmfa.museum/" target="_blank">VMFA</a>. Richmond has many <a href="https://www.tripadvisor.com/Attractions-g60893-Activities-Richmond_Virginia.html" target="_blank">great things</a> to offer!</p>
        </div>
        <div class="col-md-4 travel-item">
          <div class="travel-icon"><i class="fa fa-beer"></i></div>
          <h4 class="travel-title"><a href="https://www.visitrichmondva.com/drink/richmond-beer-trail/" target="_blank">Beer Cheer!</a></h4>
          <p class="travel-description">Did you know that Richmond was declared the #1 Beer Destination for 2018 by VinePair? Jump on the <a href="https://www.visitrichmondva.com/drink/richmond-beer-trail/" target="_blank">Beer Trail</a> and have your own, delayed, mini Oktoberfest celebration between dances this year at Jammin'!</p>
        </div>
        <div class="col-md-4 travel-item">
          <div class="travel-icon"><i class="fa fa-list-alt"></i></div>
          <h4 class="travel-title"><a href="https://nyti.ms/2jUZORC" target="_blank">In the Press</a></h4>
          <p class="travel-description">Richmond has been getting quite a bit of praise in travel sections around the country. Checkout the New York Times <a href="https://nyti.ms/2jUZORC" target="_blank">36-Hour Itinerary</a> or the U.S. News list of <a href="https://travel.usnews.com/Richmond_VA/Things_To_Do/" target="_blank">Best Things To Do</a> in Richmond.</p>
        </div>
      </div>
    </div>
  </section>


  <!--==========================
  Team Section
  ============================-->

  <!-- <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">These are just some of the many people that are working hard to make Jammin' the successful event that it is. They are also the people to ask any questions you may have about the event!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-1.jpg" alt=""></div>
            <h4>Kyle Kelley</h4>
            <span>Organizer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-2.jpg" alt=""></div>
            <h4>Dave Barry</h4>
            <span>Organizer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-3.jpg" alt=""></div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-4.jpg" alt=""></div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->


    <!--==========================
  Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="contact">For any Questions or Concerns, please contact us at: <a href="mailto:thejazzden@gmail.com">thejazzden@gmail.com</a></div>
        </div>
      </div>

      <div class="credits">
        &copy; Copyright <strong>Imperial Theme</strong>. All Rights Reserved <br>
        Bootstrap Templates by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>