<div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="img/jotjlogo.png" alt="Jammin on the James">
        </div>
        <div class="hero-info">
          <!-- <h1>Jammin on the James</h1> -->
          <h2><span class="rotating">October 19th-21st 2018, 2 Days of Workshops!, October 19th-21st 2018, 3 Nights of Live Music!</span></h2>
          <div class="actions">
            <a href="#details" class="btn-get-started">Details</a>
            <a href="#services" class="btn-services">Register!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->

  <%= erb :_navbar %>

  <!--==========================
  Details Section
  ============================-->
  <section id="details">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Jammin' on the James, 2018!</h3>
          <!-- <div class="section-title-divider"></div> -->
          <p class="section-description"><strong>Jammin' on the James</strong> is a workshop weekend in <strong>Richmond, VA</strong>, known for big ideas and a small, intimate vibe. <br> This October we're back for our <strong>16th year</strong> with <strong>new surprises</strong> and the <strong>high quality instruction, music, and dancing</strong> you've come to expect.</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title">Details</h2>
          <p class="about-text">
            This paragraph will be about <a href="#">dates</a> and <a href="#">location</a>. There should also be a link to the <a href="#">full schedule</a>, maybe the <a href ="#">venues page</a> as well.
          </p>
          <p class="about-text">
            This paragraph will be about the <a href="#">workshops</a>, including the different <a href="#">levels</a>, as well as a brief bit about the <a href="#">instructors</a>
          </p>
          <p class="about-text">
            Finally, it's called <em>Jammin'</em> on the James for a reason. This paragraph will discuss the 3 nights of live music, mentioning both the <a href="#">bands</a> and the <a href="#">djs</a>.
          </p>
          <p class="about-text">
            Last section will mention all the other highlights like the <a href="#">competitions</a>, the <a href="#">food fun</a>, the <a href="#">special discounts</a>, and general <a href="#">awesomeness</a> that Richmond has to offer.
          </p>
          <h2 class="about-title about-text">Follow Us For Updates:</h2>
          <div class="col-md-1"></div>
          <div class="col-md-5 social-btn-container">
            <a class="social-btn" href="#">Facebook Event</a>
          </div>
          <div class="col-md-5 social-btn-container">
            <a class="social-btn" href="#">Facebook Group</a>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!--==========================
  Music Section
  ============================-->

  <section id="music">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Music</h3>
          <div class="section-title-divider"></div>
          <!-- <p class="section-description">Jammin has always brought excellent live music to keep you dancing all night long. We are VERY excited about this year's offering. Stay tuned to find out who's coming to town!</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a class="music-item music-headliner" style="background-image: url(img/dancehero.jpg);" href="">
            <div class="details">
              <h4>Coming Soon!</h4>
              <span>(headliner)</span>
            </div>
          </a>
        </div>

        <div class="col-md-10 col-md-push-1">
          <p class="section-description">Jammin has always brought excellent live music to keep you dancing all night long. We are VERY excited about this year's offering. Stay tuned to find out who's coming to town!</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 1</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 2</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 3</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>


  <!--==========================
  Workshop Section
  ============================-->

  <section id="workshop">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Workshops</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Jammin' always provides the opportunity to learn and improve your dancing in workshops with fantastic instructors. Stay tuned as we reveal who we have in store!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a class="workshop-item workshop-main" style="background-image: url(img/dancehero.jpg);" href="">
            <div class="details">
              <h4>Coming Soon!</h4>
              <span>(first couple)</span>
            </div>
          </a>
        </div>

        <div class="col-md-6">
          <a class="workshop-item workshop-main" style="background-image: url(img/dancehero.jpg);" href="">
            <div class="details">
              <h4>Coming Soon!</h4>
              <span>(second couple)</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="workshop-item" style="background-image: url(img/team-1.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 1</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="workshop-item" style="background-image: url(img/team-2.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 2</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="workshop-item" style="background-image: url(img/team-3.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 3</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="workshop-item" style="background-image: url(img/team-4.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 4</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>


      </div>
    </div>
  </section>

<!--==========================
  Competition Section
  ============================-->
<!--
  <section id="comp">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Competitions</h3>
          <div class="section-title-divider"></div> -->
          <!-- <p class="section-description">Jammin has always brought excellent live music to keep you dancing all night long. We are VERY excited about this year's offering. Stay tuned to find out who's coming to town!</p> -->
 <!--        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <a class="comp-item comp-headliner" style="background-image: url(img/jick-jall-1.jpg);" href="">
            <div class="details">
              <h4>Coming Soon!</h4>
              <span>(headliner)</span>
            </div>
          </a>
        </div>

        <div class="col-md-2 col-md-push-1">
          <p class="section-description">Jammin has always brought excellent live comp to keep you dancing all night long. We are VERY excited about this year's offering. Stay tuned to find out who's coming to town!</p>
        </div>
      </div>
    -->
      <!-- <div class="row">

        <div class="col-md-4">
          <a class="comp-item comp-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 1</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="comp-item comp-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 2</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="comp-item comp-dj" style="background-image: url(img/squaretext.jpg);" href="">
            <div class="details">
              <h4>Name of DJ 3</h4>
              <span>City Name, STATE</span>
            </div>
          </a>
        </div>

      </div> -->
<!--     </div>
</section> -->

<section id="comp">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Competitions</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Jammin' on the James likes to keep the comps fun, free, and fabulous! Sponsors this year include.... this event, that event, and that other event.</p>
      </div>
    </div>

    <div class="row comp-center">
    <div class="col-md-12  comp-item">
        <div class="comp-icon"><i class="fa fa-trophy"></i></div>
        <h4 class="comp-title"><a href="">The Jick and Jall</a></h4>
        <p class="comp-description">This one is a Jammin' on the James classic, where participants dance both the lead and follow parts! It's free to enter and always a ton of fun!</p>
        <p class="comp-description centered">Find out more about <a href="">The Jick and Jall Competition</a></p>
      </div>
    </div>
    <div class="row comp-center">
      <div class="col-md-12 comp-item">
        <div class="comp-icon"><i class="fa fa-trophy"></i></div>
        <h4 class="comp-title"><a href="">The Short Showcase</a></h4>
        <p class="comp-description">New to Jammin' for 2018, the short showcase is also free to enter and open to the first 8 contestants.</p>
        <p class="comp-description centered">Find out more about <a href="">The Short Showcase Competition</a></p>
      </div>
    </div>
  </div>
</div>
</section>



  <!--==========================
  Registration Section
  ============================-->
  <section id="register">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="register-title">Register for Jammin' on the James!</h3>
          <p class="register-text">You know you don't want to miss all the fun this October! <br>Save the dates and stay tuned. Registration opens soon!</p>
        </div>
        <div class="col-md-4 register-btn-container">
          <a class="register-btn" href="#">Register!</a>
        </div>
      </div>
    </div>
  </section>


  <!--==========================
  Travel Section
  ============================-->
  <section id="travel">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Visiting Richmond</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">We love our River City and we think you will too. Follow the links below to find out more about getting to and staying in Richmond as well as cool things to do when you're not dancing!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 travel-item">
          <div class="travel-icon"><i class="fa fa-desktop"></i></div>
          <h4 class="travel-title"><a href="">Travel</a></h4>
          <p class="travel-description">This section will highlight that there's an International airport, hotels, etc. etc. and a <a href="#">link</a> to more.</p>
        </div>
        <div class="col-md-4 travel-item">
          <div class="travel-icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="travel-title"><a href="">Things To Do</a></h4>
          <p class="travel-description">There's so much to do in Richmond. This map will help you figure out where to eat, shop, and play!</p>
        </div>
        <div class="col-md-4 travel-item">
          <div class="travel-icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="travel-title"><a href="">Special Discounts!</a></h4>
          <p class="travel-description">These stores are offering a special discount to Jammin' participants! Simply show them your wristband and enjoy all that vintage goodness.</p>
        </div>
      </div>
    </div>
  </section>


  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">These are just some of the many people that are working hard to make Jammin' the successful event that it is. They are also the people to ask any questions you may have about the event!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-1.jpg" alt=""></div>
            <h4>Kyle Kelley</h4>
            <span>Organizer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-2.jpg" alt=""></div>
            <h4>Dave Barry</h4>
            <span>Organizer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-3.jpg" alt=""></div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-4.jpg" alt=""></div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


    <!--==========================
  Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Imperial Theme</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Bootstrap Templates by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>





  <!--==========================
  Porfolio Section
  ============================-->
<!--   <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Workshops</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-1.jpg);" href="">
            <div class="details">
              <h4>Portfolio 1</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-2.jpg);" href="">
            <div class="details">
              <h4>Portfolio 2</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-3.jpg);" href="">
            <div class="details">
              <h4>Portfolio 3</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-4.jpg);" href="">
            <div class="details">
              <h4>Portfolio 4</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-5.jpg);" href="">
            <div class="details">
              <h4>Portfolio 5</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-6.jpg);" href="">
            <div class="details">
              <h4>Portfolio 6</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-7.jpg);" href="">
            <div class="details">
              <h4>Portfolio 7</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/portfolio-8.jpg);" href="">
            <div class="details">
              <h4>Portfolio 8</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Testimonials Section
  ============================-->
  <!-- <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Travel</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="img/client-1.jpg" alt=""></div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="img/client-2.jpg" alt=""></div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
      </div>

    </div>
  </section> -->