<%= erb :_navbar %>
<section id="instructor-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Instructors</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>
    <div class="instructor-container">
      <div class="instructor-item instructor-pic" style="background-image: url(img/ann.jpg);" href="/instructors">
      </div>
      <div class="instructor-item instructor-blurb">
        <h4>Ann Mony</h4>
        <p>Ann Mony strives to make every dance a unique and memorable one. Known for her playful style and the joy that she exudes while dancing, she travels as often as she can to share her love of lindy hop through classes, competitions, performances, and social dances. She is committed to preserving the improvisational link between lindy hop and jazz, empowering followers, and celebrating the cultural wealth of vernacular jazz dances.</p><p>Ann fell madly in love with swing dancing in 2002. Over the next few years she honed her skills in Montreal as a dancer, competitor, and teacher. She holds titles from such events as the International Lindy Hop Championships, American Lindy Hop Championships, Canadian Lindy Hop Championships, Camp Jitterbug, and Lindy Focus. Through her classes and performances she hopes to add to the legacy of unique and powerful dancers in lindy hop.</p><p>Ann is also an active organizer and scene-builder in San Francisco. She runs <a href="http://www.shimmytown.com/">Shimmytown</a> and helps organize <a href="http://sfbootleggersball.com/">The Bootleggers Ball</a>.</p>
      </div>
      <div class="instructor-item instructor-pic" style="background-image: url(img/ryan.jpg);" href="/instructors">
      </div>
      <div class="instructor-item instructor-blurb">
        <h4>Ryan Calloway</h4>
        <p>Ryan Calloway's enthusiasm, buoyant rhythm and boundless creativity make him one the best known Lindy Hop leaders. His goal as a teacher is to inspire his students to find their own creativity. With an open and warm style, he welcomes individuals to not only learn the traditions of Vintage Jazz Dance, but to add to it as well. Having worked for seven years as a Visual Effects Artist for ILM, you might have caught some of his work on the silver screen. It’s this type of artistry that is so apparent in his dancing. For more on Ryan’s art, check out his <a href="http://www.ryancallowayart.com">site</a> or <a href="https://www.instagram.com/ryancallowayart/">@ryancallowayart</a> on Instagram.<p>Ryan is also passionate about carrying on the tradition of Hot Jazz music. He is the clarinetist and bandleader of the San Francisco based band, The Hot Baked Goods.</p><p>Lindy Hop has taken Ryan Calloway around the world, having taught in Singapore and throughout the US. But you’ll only need to look as far as his smile to see how much he truly loves the dance.</p>
      </div>
      <div class="instructor-item instructor-pic" style="background-image: url(img/Jenny.JPG);" href="/instructors">
      </div>
      <div class="instructor-item instructor-blurb">
        <h4>Jenny Shirar</h4>
        <p>Since being introduced to Lindy Hop in 2008, Jenny Shirar has quickly become known as a dynamic dancer, teacher, competitor, and performer. She embodies a distinctive, high-energy style that favors audacity and individuality over perfection. Ever proud of her hometown roots in St. Louis, Missouri, Jenny also specializes in St. Louis Shag. She has learned from some of the great St. Louis Shag and Swing dancers of earlier eras and enjoys sharing this unique perspective with students from all over. Jenny has competed and won first place at the International Lindy Hop Championships, Ultimate Lindy Hop Showdown, Midwest Lindy Fest, and more. As a teacher, she adopts a people-first approach and gets most excited about seeing dancers discover and explore their own way of moving.</p>
      </div>
      <div class="instructor-item instructor-pic" style="background-image: url(img/christian.JPG);" href="/instructors">
      </div>
      <div class="instructor-item instructor-blurb">
        <h4>Christian Frommelt</h4>
        <p>Christian Frommelt is a passionate swing dance instructor, performer, and social dancer who has dedicated his life to bringing people together through music and dancing. His unique style blends an emphasis on traditional swing movement and a highly personal character. In addition to his renown as a lindy hop and solo jazz dancer, Christian is the foremost aficionado of St. Louis Shag, which he learned from original jitterbugs through interviews and close study. Some of his proudest accomplishments include winning the 2014 and 2015 Ultimate Lindy Hop Showdown Battles in New Orleans, and placing 1st in the Open Showcase  at the 2015 International Lindy Hop Championships. In addition to teaching around the world, Christian also organizes the Nevermore Jazz Ball &amp; St. Louis Swing Dance Festival.</p>
      </div>
      <div class="instructor-item instructor-pic" style="background-image: url(img/jon2.jpg);" href="/instructors">
      </div>
      <div class="instructor-item instructor-blurb">
        <h4>Jon Tigert</h4>
        <p>Jon Tigert found swing dancing at the tender age of 15 and never looked back. Now, somewhat older than 15, Jon shares his knowledge of the dance all over the United States and the World. You may know him from his roles at events such as Lindy Focus, Lindy Fest, The Canadian Swing Dance Championships, The Chinese Lindy Hop Championships, Herräng Dance Camp, The International Lindy Hop Championships and many more. Known for his concise language, historical knowledge and and infinite supply of dad jokes, Jon's classes are immensely informative and entertaining. Beyond teaching, Jon is often seen behind the microphone as a well known MC and host, behind the computer as a DJ, or behind the drum kit playing and singing with various bands. </p>
      </div>
            <div class="instructor-item instructor-pic" style="background-image: url(img/ericaryan.jpg); min-height: 300px;" href="/instructors">
      </div>
      <div class="instructor-item instructor-blurb">
        <h4>Erica Vess &amp; Ryan Lemar</h4>
        <p></p>
      </div>
    </div>
  </div>
</section>



<!-- <section id="music-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Bands</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>
<div class="band-container">
    <div class="row band-bio">
      <div class="col-md-6">
       <div class="band-image"></div>
     </div>

     <div class="col-md-6">
      <h2>Somebody and Their Rhythm Something!</h2>
      <p class="">
        Somebody and Their Rhythm Something has been playing jazz for ages. Inspired by Shoo-Bop and DeWada Wada, they keep the floor packed and the feet tapping! SATRS has traveled the globe playing swinging jazz from the 30's and 40's at events such as This Event Camp, That Event Exchange, and That Other Awesome Event Everyone's heard of.
        <br><br>
        Somebody has been bandleading for 17 years and playing that instrument for 17 more. They love travel, piña coladas, getting caught in the rain, and, of course, playing swing music!
      </p>
    </div>
  </div>

<div class="FlexContainer">
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 1</span><br>Instrument</p>
  </div>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 2</span><br>Instrument</p>
  </div></span>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 3</span><br>Instrument</p>
  </div>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 4</span><br>Instrument</p>
  </div>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 5</span><br>Instrument</p>
  </div>
</div>
</div>

</div>
</section>

<section id="dj">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">DJs</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Jammin has always brought excellent live music to keep you dancing all night long. We are VERY excited about this year's offering. Stay tuned to find out who's coming to town!</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
          <div class="details">
            <h4>Name of DJ 1</h4>
            <span>City Name, STATE</span>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
          <div class="details">
            <h4>Name of DJ 2</h4>
            <span>City Name, STATE</span>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
          <div class="details">
            <h4>Name of DJ 3</h4>
            <span>City Name, STATE</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</section> -->