<div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="img/jotjlogo.png" alt="Jammin on the James">
        </div>
        <div class="hero-info">
          <!-- <h1>Jammin on the James</h1> -->
          <h2><span class="rotating">October 19th-21st 2018, 2 Days of Workshops!, October 19th-21st 2018, 3 Nights of Live Music!</span></h2>
          <div class="actions">
            <a href="https://www.facebook.com/JamminOnTheJamesRVA/" class="btn-get-started">Facebook Page</a>
            <a href="https://www.facebook.com/events/114151972731940/" class="btn-services">Join the Event</a>
          </div>
        </div>
      </div>
    </div>
  </section>