<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Jammin on the James 2018!</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/-->
    <link rel="stylesheet" href="/css/normalize.css">

    <!-- ___________IMPERIAL___________ -->
    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <!-- Libraries CSS Files -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/animate-css/animate.min.css">
    <!-- _______________________________ -->

    <!--Main Stylesheet File-->
    <link rel="stylesheet" href="/css/application.css">

    <!-- Required JavaScript Libraries -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/superfish/hoverIntent.js"></script>
    <script src="/lib/superfish/superfish.min.js"></script>
    <script src="/lib/morphext/morphext.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/stickyjs/sticky.js"></script>
    <script src="/lib/easing/easing.js"></script>


    <!-- your JavaScript / jQuery code below: -->
    <script src="/js/application.js"></script>

    <title></title>
  </head>

  <body>
    <%= yield %>
  </body>

  </html>
