<%= erb :_navbar %>
<section id="music-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Bands</h3>
        <div class="section-title-divider"></div>
        <!-- <p class="section-description"></p> -->
      </div>
    </div>
<div class="band-container">
    <div class="row band-bio">
      <div class="col-md-6">
       <div class="band-image"></div>
     </div>

     <div class="col-md-6">
      <h2>Somebody and Their Rhythm Something!</h2>
      <p class="">
        Somebody and Their Rhythm Something has been playing jazz for ages. Inspired by Shoo-Bop and DeWada Wada, they keep the floor packed and the feet tapping! SATRS has traveled the globe playing swinging jazz from the 30's and 40's at events such as This Event Camp, That Event Exchange, and That Other Awesome Event Everyone's heard of.
        <br><br>
        Somebody has been bandleading for 17 years and playing that instrument for 17 more. They love travel, piña coladas, getting caught in the rain, and, of course, playing swing music!
      </p>
    </div>
  </div>

<div class="FlexContainer">
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 1</span><br>Instrument</p>
  </div>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 2</span><br>Instrument</p>
  </div></span>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 3</span><br>Instrument</p>
  </div>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 4</span><br>Instrument</p>
  </div>
  <div class="FlexItem">
    <div class="bandmember"></div>
    <p class="bandmember-details"><span>Band Member 5</span><br>Instrument</p>
  </div>
</div>
</div>

</div>
</section>

<section id="dj">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">DJs</h3>
        <div class="section-title-divider"></div>
        <!-- <p class="section-description">Jammin has always brought excellent live music to keep you dancing all night long. We are VERY excited about this year's offering. Stay tuned to find out who's coming to town!</p> -->
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
          <div class="details">
            <h4>Name of DJ 1</h4>
            <span>City Name, STATE</span>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
          <div class="details">
            <h4>Name of DJ 2</h4>
            <span>City Name, STATE</span>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a class="music-item music-dj" style="background-image: url(img/squaretext.jpg);" href="">
          <div class="details">
            <h4>Name of DJ 3</h4>
            <span>City Name, STATE</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>