<%= erb :_navbar %>
<section id="registration-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Registration</h3>
        <div class="section-title-divider"></div>
        <!-- <p class="section-description"> <br>When you register, <strong>choose</strong> the track that seems <strong>the best fit</strong> for you. If you plan to take Track A or Track B, you <strong>must</strong> attend the Saturday morning <a href="/schedule">track placement</a>. Some people may be shuffled between levels during this time.</p> -->
      </div>
    </div>


    <div class="col-md-8 col-md-push-2">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"  class="full-pass-header">FULL EVENT PASS&nbsp;&nbsp;<span style="font-weight: normal;">(Tracks A & B)</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" class="pass-date early">April 23rd at 6pm Early Registration OPENS</td>
          </tr>
          <tr>
            <th></th>
            <th>Mystery Box</th>
            <th>Save $20 in this 24-hour deal!</th>
            <th>$130</th>
          </tr>
          <tr>
            <td colspan="4" class="pass-date early">April 24th at 6pm Early Registration CLOSES</td>
          </tr><tr>
          <td colspan="4" class="pass-date regular">April 30th at 6pm Normal Registration OPENS</td>
        </tr>
        <tr>
          <th></th>
          <th>Tier 1</th>
          <th>Passes 1-20</th>
          <th>$150</th>
        </tr>
        <tr>
          <th></th>
          <th>Tier 2</th>
          <th>Passes 21-40</th>
          <th>$160</th>
        </tr>
        <tr>
          <th></th>
          <th>Tier 3</th>
          <th>Pass 41 until close</th>
          <th>$170</th>
        </tr>
        <tr>
          <td colspan="4" class="pass-date regular">October 17th at 6pm Normal Registration CLOSES</td>
        </tr>
        <tr>
          <td colspan="4" class="pass-date event-open">October 19th Jammin' on the James 2018 OPENS</td>
        </tr>
        <tr class="bottom-border">
          <th></th>
          <th>At-the-door</th>
          <th></th>
          <th>$180</th>
        </tr>
      </tbody>
    </table>

    <div class="register-btn-container">
      <a class="register-btn" href="#">Register!</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th colspan="4"  class="full-pass-header">BEGINNER FULL PASS&nbsp;&nbsp;<span style="font-weight: normal;">(Beginner Track)</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4" class="pass-date regular">April 30th at 6pm Normal Registration OPENS</td>
        </tr>
        <tr>
          <th></th>
          <th>Tier 1</th>
          <th>Save $10 off the door price!</th>
          <th>$80</th>
        </tr>
        <tr>
          <td colspan="4" class="pass-date regular">October 17th at 6pm Normal Registration CLOSES</td>
        </tr>
        <tr>
          <td colspan="4" class="pass-date event-open">October 19th Jammin' on the James 2018 OPENS</td>
        </tr>
        <tr class="bottom-border">
          <th></th>
          <th>At-the-door</th>
          <th></th>
          <th>$90</th>
        </tr>
      </tbody>
    </table>

    <div class="register-btn-container">
      <a class="register-btn" href="#">Register!</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th colspan="4"  class="full-pass-header">ADD-ONS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <th>Advance:</th>
          <th>1 Class for $15</th>
          <th>2 Classes for $25</th>
        </tr>
        <tr>
          <td colspan="4" class="pass-date regular">October 17th at 6pm Normal Registration CLOSES</td>
        </tr>
        <tr class="bottom-border">
          <th></th>
          <th>At-the-door:</th>
          <th>1 Class for $20</th>
          <th>2 Classes for $30</th>
        </tr>
      </tbody>
    </table>
    <div class="register-btn-container">
      <a class="register-btn" href="#">Register!</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th colspan="4"  class="full-pass-header">DANCE PASS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="pass-date regular"></td>
          <td class="pass-date regular"></td>
          <td class="pass-date regular"></td>
          <td class="pass-date regular"></td>
        </tr>
        <tr>
          <td colspan="4" class="pass-date regular">Check back later this summer for details!</td>
        </tr>
        <tr class="bottom-border">
          <td class="pass-date regular"></td>
          <td class="pass-date regular"></td>
          <td class="pass-date regular"></td>
          <td class="pass-date regular"></td>
        </tr>
      </tbody>
    </table>

    <div class="registration-content">
      <h3 class="reg-title">Important Information</h3>
      <p class="reg-description">
        <ul>
          <li>All Jammin' on the James passes are non-refundable.</li>
          <li>You may transfer your pass to another individual or defer it to 2019 by the end of Normal Registration (10/17).</li>
          <li>Won passes are non-transferable.</li>
        </ul>
      </p>
    </div>
  </div>

</div>
</section>

