<%= erb :_navbar %>
<section id="schedule-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Schedule</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="schedule-content schedule-pic" style="background-image: url(img/kevin.jpg);">
        </div>
      </div>
      <div class="col-md-7">
        <div class="schedule-content">
          <h3 class="schedule-title">Registration</h3>
          <p class="schedule-description">
            <span>6pm, April 23rd thru 6pm, April 24th, 2018</span> : 24-Hour Mystery Box Deal<br>
            <span>6pm, April 30th, 2018</span> : Normal Registration Opens<br>
            <span>6pm, October 17th, 2018</span> : Normal Registration Closes
          </p>
        </div>
        <div class="section-title-divider schedule-divider"></div>
        <div class="schedule-content">
          <h3 class="schedule-title">Friday</h3>
          <p class="schedule-description">
            <span>7pm</span> : Lewis Ginter Opens for Main Dance<br>
            <span>7:30-8:30pm</span> : Beginner Drop-in Lesson<br>
            <span>8:30pm</span> : Dancing to Live Music<br>
            <span>10:30pm</span> : Jick and Jall Prelims<br>
            <span>11:30pm</span> : End of Main Dance<br>
            <span>12am</span> : Late Night Dance Starts at The Dance Space<br>
            <span>3am</span> : End of Late Night Dance<br>
          </p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="schedule-content">
          <h3 class="schedule-title">Saturday</h3>
          <p class="schedule-description">
            <span>9am</span> : Lewis Ginter Opens<br>
            <span>10am</span> : Track Level Audition Class<br>
            <span>11:15am</span> : Track A & B Morning Classes <br>
            <span>1pm</span> : Picnic Lunch on the Lawn (pre-order)<br>
            <span>2pm</span> : Track A & B Afternoon Classes, Beginner Track<br>
            <span>4pm</span> : Add-On Classes (TBA)<br>
            <span>5pm</span> : Classes End, Dinner Break<br>
            <span>7pm</span> : Lewis Ginter Reopens<br>
            <span>7:30-8:30pm</span> : Beginner Drop-in Lesson<br>
            <span>8:30pm</span> : Dancing to Live Music<br>
            <span>10:30pm</span> : Jick and Jall Finals<br>
            <span>11:30pm</span> : End of Main Dance<br>
            <span>12am</span> : Late Night Dance Starts at The Hofheimer Building<br>
            <span>1am</span> : Short Showcase Competition<br>
            <span>3am</span> : End of Late Night Dance<br>
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="schedule-content">
          <h3 class="schedule-title">Sunday</h3>
          <p class="schedule-description">
            <span>9am</span> : Lewis Ginter Opens<br>
            <span>10am</span> : Track A & B Morning Classes<br>
            <span>11:45am</span> : Lunch Break<br>
            <span>12:30pm</span> : Add-On Classes (TBA)<br>
            <span>2pm-4pm</span> : Beginner Track (TBA)<br>
            <span>2:15pm</span> : Track A & B Afternoon Classes<br>
            <span>4pm</span> : Sunday Main Dance - DJ Round Table!<br>
            <span>6pm</span> : End of Jammin' on the James 2018<br>
          </p>
        </div>
        <div class="schedule-content">
          <h3 class="schedule-title">Monday</h3>
          <p class="schedule-description monday">
            Wake up swungover from an overdose of Awesome<br>
          </p>
          <div class="thumb-icon"><i class="fa fa-heart"></i></div>
        </div>
      </div>
    </div>

  </div>
</section>