<%= erb :_navbar %>
<section id="schedule-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Schedule</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>

<!--     <div class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="schedule-content">
          <h3 class="track-title">Registration Dates</h3>
          <p class="track-description"><span>New to dancing?</span> Our dedicated instructors will help you go from 0 to 60 in this <span>4-hour beginner track</span>.<br><br>Designed to get you on your feet and comfortable on the social dance floor, this is the <span>perfect place to start</span> your dance journey.</p>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-5">
        <div class="schedule-content schedule-pic" style="background-image: url(img/kevin.jpg);">
        </div>
      </div>
      <div class="col-md-7">
        <div class="schedule-content">
          <h3 class="schedule-title">Registration</h3>
          <p class="schedule-description">
            <span>6pm, April 23rd thru 6pm, April 24th, 2018</span> : 24-Hour Mystery Box Deal<br>
            <span>6pm, April 30th, 2018</span> : Normal Registration Opens<br>
            <span>6pm, October 17th, 2018</span> : Normal Registration Closes
          </p>
        </div>
        <div class="section-title-divider schedule-divider"></div>
        <div class="schedule-content">
          <h3 class="schedule-title">Friday</h3>
          <p class="schedule-description">
            <span>7pm</span> : Lewis Ginter Opens for Main Dance<br>
            <span>7:30-8:30pm</span> : Beginner Drop-in Lesson<br>
            <span>8:30pm</span> : Dancing to Live Music<br>
            <span>10:30pm</span> : Jick and Jall Prelims<br>
            <span>11:30pm</span> : End of Main Dance<br>
            <span>12am</span> : Late Night Dance Starts at The Dance Space<br>
            <span>3am</span> : End of Late Night Dance<br>
          </p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="schedule-content">
          <h3 class="schedule-title">Friday</h3>
          <p class="schedule-description">
            <span>7pm</span> : Lewis Ginter Opens for Main Dance<br>
            <span>7:30-8:30pm</span> : Beginner Drop-in Lesson<br>
            <span>8:30pm</span> : Dancing to Live Music<br>
            <span>10:30pm</span> : Jick and Jall Prelims<br>
            <span>11:30pm</span> : End of Main Dance<br>
            <span>12am</span> : Late Night Dance Starts at The Dance Space<br>
            <span>3am</span> : End of Late Night Dance<br>
          </p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="schedule-content">
          <h3 class="schedule-title">Saturday</h3>
          <p class="schedule-description">You have <span>a full arsenal of moves</span> and you're comfortable and confident using them to create a <span>well-balanced, musical</span> dance with your partner on the social floor. <br><br>This schedule will help you delve into your musicality and get nerdy about communicating with your partner.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="schedule-content">
        <h3 class="track-title">Sunday</h3>
          <p class="track-description">You've got a <span>solid grasp on basic 6- and 8-count patterns</span> and are comfortable mixing and matching them while social dancing. <br><br>In this track, you will dig deeper into the connection and stretch that makes these moves work and expand your vocabulary.</p>
        </div>
      </div>
    </div>

  </div>
</section>