<%= erb :_navbar %>
<section id="schedule-page">
  <div class="container wow fadeInUp mobile-hide-schedule">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title schedule-title">Schedule</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="schedule-container">
          <iframe class="embedded-schedule" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTGRIQX7VTikUDEFcnVz9m4k_Exxr1HFKWaPHtp-mZrPLdWdLgx_mgvTWv5DyYN4Z5nH4YgqHMXcdfa/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="schedule-container mobile-only-schedule">
    <iframe class="embedded-schedule" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTGRIQX7VTikUDEFcnVz9m4k_Exxr1HFKWaPHtp-mZrPLdWdLgx_mgvTWv5DyYN4Z5nH4YgqHMXcdfa/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
  </div>

</section>