<%= erb :_navbar %>
<section id="venues-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Venues</h3>
        <div class="section-title-divider"></div>
        <!-- <p class="section-description"></p> -->
      </div>
    </div>
    <div class="venues-container">

      <div class="row">
        <div class="col-md-12">
          <div class="venue-main" style="background-image: url(img/venue-ginter.jpg);"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="venue-details">
            <h3 class="venue-name">Lewis Ginter Recreation Center: <span>All Workshops, All Main Dances</span></h3>
            <p class="venue-description">The Lewis Ginter Recreation Center has hosted Jammin' on the James since its inception in 2003 and will be our main venue yet again! All workshop classes and main dances will be here.</p>
            <p class="venue-description address">
              <br><a href="https://goo.gl/maps/8Cy5KMJoFu12">Lewis Ginter Recreation Center</a><br>3421 Hawthorne Ave<br>Richmond, VA 23222
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="venue-late" style="background-image: url(img/venue-dance-space.jpg);"></div>
      </div>
      <div class="col-md-6">
        <div class="venue-late">
          <h3 class="venue-name">The Dance Space: <span>Friday Late Night</span></h3>
          <p class="venue-description">The Dance Space on Broad Street celebrated 25 years of swing dances in 2018 and still hosts social dancing every 1st, 2nd and 3rd Saturday. This year, it hosts our Friday Late Night Dance.</p>
          <p class="venue-description address">
            <br><a href="https://goo.gl/maps/BL4vjVZ3RoR2">The Dance Space</a><br>6004 W Broad St<br>Richmond, VA 23230
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="venue-late hof" style="background-image: url(img/venue-hof.jpg);"></div>
      </div>
      <div class="col-md-6">
        <div class="venue-late">
          <h3 class="venue-name">The Hofheimer Building: <span>Saturday Late Night</span></h3>
          <p class="venue-description">Recently renovated, the historic Hofheimer boasts three bars, an open roof deck, and massive hardwood dance floor... perfect for our Saturday Late Night.</p>
          <p class="venue-description address">
            <br><a href="https://goo.gl/maps/2s9jfv9rBrQ2">The Hofheimer Building</a><br>2818 W Broad St<br>Richmond, VA 23230
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
</section>