<%= erb :_navbar %>
<section id="workshop-page">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Workshop Levels</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"> <br>When you register, <strong>choose</strong> the track that seems <strong>the best fit</strong> for you. If you plan to take Track A or Track B, you <strong>must</strong> attend the Saturday morning <a href="/schedule">track placement</a>. Some people may be shuffled between levels during this time.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="workshop-content">
          <h3 class="track-title">Track A</h3>
          <p class="track-description">You've got a <span>solid grasp on basic 6- and 8-count patterns</span> and are comfortable mixing and matching them while social dancing. <br><br>In this track, you will dig deeper into the connection and stretch that makes these moves work and expand your vocabulary.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workshop-content">
          <h3 class="track-title">Track B</h3>
          <p class="track-description">You have <span>a full arsenal of moves</span> and you're comfortable and confident using them to create a <span>well-balanced, musical</span> dance with your partner on the social floor. <br><br>This track will help you delve into your musicality and get nerdy about communicating with your partner.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-title-divider workshop-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="workshop-content">
          <h3 class="track-title">Beginner Track</h3>
          <p class="track-description"><span>New to dancing?</span> Our dedicated instructors will help you go from 0 to 60 in this <span>4-hour beginner track</span>.<br><br>Designed to get you on your feet and comfortable on the social dance floor, this is the <span>perfect place to start</span> your dance journey.</p>
        </div>

      </div>
    </div>
  </div>
</section>